accelerate
backoff
bitsandbytes
datasets
evals
fire
fireworks-ai
guidance
huggingface_hub
hydra-core
jupyter
nbconvert
ninja
packaging
peft
py7zr
s3fs
sentencepiece
sentence_transformers
torchx
transformers
wandb
zstandard
